<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Financeq - Movements </title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<main>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-weight: bolder" href="/">Financeq</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/movements">Movements</a>
                    </li>
                </ul>
            </div>
            <label th:if="${user.firstName != null && user.lastName != null}"
                   th:text="${user.firstName+' '+user.lastName}"
                   class="nav-item nav-link px-2 me-3" style="color: white">
            </label>

            <label th:unless="${user.firstName != null && user.lastName != null}" th:text="${user.email}"
                   class="nav-item nav-link px-2 me-3" style="color: white"></label>
            <button class="btn btn-sm btn-light" onclick="window.location.href='/logout'">Logout</button>

        </div>
    </nav>
    <div class="container">
        <header>
            <div class="title">
                <h1> Your movements </h1>
            </div>
        </header>
        <hr/>

        <div class="add-movement">
            <a th:href="@{/movements/new}" class="btn btn-dark "> New Movement </a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr scope="col" th:each="move : ${movements}">
                <td>
                    <a th:href="@{/movements/{movementId}(movementId=${move.movementId})}" th:text="${move.title}"
                       style="text-decoration: none; color: black   "></a>
                </td>
                <td th:text="${move.amount}" />
                <td th:text="${move.category}" />
                <td th:text="${move.status}" />
                <td th:text="${move.movementDate}" />
                <td>
                    <a th:href="@{/movements/detail/{movementId}(movementId=${move.movementId})}" class="btn btn-sm btn-info">
                        Detail
                    </a>
                    <a th:href="@{/movements/update/{movementId}(movementId=${move.movementId})}" class="btn btn-primary btn-sm"> Edit </a>
                    <a th:href="@{/movements/delete/{movementId}(movementId=${move.movementId})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Are you sure you want to delete this movement?'))) return false" >
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/movements/all/?page=0">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/movements/all/?page=0">1</a></li>
                <li class="page-item"><a class="page-link" href="/movements/all/?page=1">2</a></li>
                <li class="page-item"><a class="page-link" href="/movements/all/?page=2">3</a></li>
                <li class="page-item"><a class="page-link" href="/movements/all/?page=1">Next</a></li>
            </ul>
        </nav>
        <div class="btn-home">
            <a th:href="@{/}" class="btn btn-dark"> Back to Dashboard </a>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container" style="width: 100vw; display: flex; justify-content: center; color: #fff">
        <span class="text-body-secondary">© 2024 Victor Castro. Todos os direitos reservados.</span>
    </div>
</footer>
</body>
</html>