<!DOCTYPE HTML>
<html>
<head>
    <title> New Movement </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-weight: bolder" href="/">Financeq</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/movements">Movements</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <header>
            <div class="title" th:object="${movement}">
                <h1 th:text="*{title}">  </h1>
            </div>
        </header>
        <hr/>
        <main th:object="${movement}" class="movement-form">
            <div class="form-input">
                <p> Amount: </p>
                <h3 th:text="*{amount}"></h3>
            </div>
            <div class="form-input">
                <p> Description: </p>
                <h4 th:text="*{description}"></h4>
            </div>
            <div class="form-input">
                <p> Date: </p>
                <h4 th:text="*{movementDate}"></h4>
            </div>
            <div class="form-input">
                <p> Category: </p>
                <h4 th:text="*{category}"></h4>
            </div>
            <div class="form-input">
                <p> Status: </p>
                <h4 th:text="*{status}"></h4>
            </div>
            <div class="mb-3 form-input">
                <label for="essential" class="form-label">Essential movement: </label>
                <input disabled type="checkbox" name="essential" id="essential" th:field="*{isEssential}">
            </div>
        </main>
        <hr/>
        <div class="return-link" style="margin-bottom: 2rem">
            <a th:href="@{/movements}" > Return to movements list </a>
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container" style="width: 100vw; display: flex; justify-content: center; color: #fff">
            <span class="text-body-secondary">© 2024 Victor Castro. Todos os direitos reservados.</span>
        </div>
    </footer>
</body>
</html>