<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Gabs Company - Login </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    body {
        height: 100vh;
        width: 100vw;
    }


    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

</style>
<body>
<div class="container">
    <div id="loginbox" style="margin-top: 3rem; font-size: 2rem;  " class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
        <div class="card border-info">
            <div class="card-header bg-info">
                Sign In
            </div>

            <div class="card-body">
                <div class="card-text">

                    <!-- Login Form -->
                    <form action="#" th:action="@{/login}" th:object="${user}" method="post" class="form-horizontal">

                        <!-- Place for messages: error, alert etc ... -->
                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>
                                    <!-- Check for login error -->
                                    <div >

                                        <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Invalid username and/or password.
                                        </div>
                                        <div th:if="${param.logout}" class="alert alert-success col-xs-offset-1 col-xs-10">
                                            <i> You have been logged out </i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- User name -->
                        <div style="margin-bottom: 1.5rem; " class="input-group">
                            <input type="text" name="username" placeholder="email" class="form-control" field="{email}" style="font-size: 1.75rem"/>
                        </div>

                        <!-- Password -->
                        <div style="margin-bottom: 1.5rem;" class="input-group">
                            <input type="password" name="password" placeholder="Password" field="{password}" class="form-control" style="font-size: 1.75rem"/>
                        </div>

                        <!-- Login/Submit Button -->
                        <div style="margin-top: 1rem;" class="form-group">
                            <div class="col-sm-6 controls">
                                <button type="submit" class="btn btn-success" style="font-size: 2rem">Login</button>
                            </div>
                        </div>


                        <p class="text-center" style="margin-top: 1rem; font-size: 1.8rem">
                            Are you a new User?
                            <a
                                    class="color-text"
                                    href="#"
                                    th:href="@{/register}"
                            >
                                Register Now</a
                            >
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container" style="width: 100vw; display: flex; justify-content: center; color: #fff">
        <span class="text-body-secondary">© 2024 Victor Castro. Todos os direitos reservados.</span>
    </div>
</footer>
</body>
</html>